@media (min-width: 1024px){
    #q{
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
    #q:first-child{
        background-color: orangered;
    }
    #q:nth-of-type(2){
        background-color: yellow;
    }
    #q:last-child{
        background-color: lightgreen;
    }
}